#header{
    background-color:#BFE7DF;
    /* width: 100%; */
    display: block;
    
}

.a1{
     
    display: inline;
color: #007892;
text-decoration: none;
font-size: x-large;
position: relative;
left: 750px;
bottom: 50px;

}
.a2{
     
    display: inline;
    color: #007892;
    text-decoration: none;
    font-size: x-large;
    position: relative;
    left: 800px;
    bottom: 50px;
    
}
.a3{
     
    display: inline;
color: #007892;
text-decoration: none;
font-size: x-large;
position: relative;
left: 830px;
bottom: 50px;

}
#body{
    background-color:#BFE7DF;
    display: block;
    height: 460px;
}

.note{
    
    color: #4B8074;
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    position: relative;
    top: 30px;

}
.noty{
    color: #45B7C1;
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    left: 15px;
}
.img{
    border-radius: 45px;   
    margin-left: 200px;
    margin-top: 7px;
}
.linkdin{
    position: relative;
    left: 500px;
    top: 50px;
    text-decoration: none;
    color: #007892;
}

.hireme{
    position: relative;
    left: 550px;
    top: 50px;
    text-decoration: none;
    color: #007892;
}
.qlty{
    display: inline-block;
    font-family: 'Cormorant Garamond', serif;
    color: #545454;
    font-size: 37px;
    position: relative;
    left: 200px;
}

.qlty1{
    display: inline;
    color: #545454;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    position: relative;
    left: 200px;
    bottom: 35px;
}
#footer{
    position: relative;
    top: 45px;
    height: 300px;
color: #007892;
text-decoration: none;
font-size: x-large;
background-color:#BFE7DF ;
}
.best{
    position: relative;

}
.bttn{
    background-color: #007892;
    height:70px;
    width: 170px;
    border-radius: 35px;
    position: relative;
}